body{
    background-color: aliceblue;
}

.contenedor{
    padding-top: 5.5%;
}
.centrado{
    padding-left: 35%;
}
.centrado2{
    padding-left: 27%;
}
a{
    color: rgb(21, 85, 85);
    text-decoration: none;
}
a:hover{
    color: #7fe1ff;
    text-decoration: none;

}